@model IEnumerable<vocabulary_app.Models.Word>

@{
    ViewData["Title"] = "Index";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark  table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                User
            </th>
            <th>
                UserId
            </th>
            <th>
                OriginalValue
            </th>
            <th>
                TranslatedValue
            </th>
            <th>
                PartOfSpeech
            </th>
            <th>
                PartOfSpeechDetails
            </th>
            <th>
                Description
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Words) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                <!-- N/A value-->
                @(item.User==null?"-":@item.User)

            </td>            
            <td>
                <!-- N/A value-->
                @(item.UserId==null?"-":@item.UserId)
            </td>

            <td>
                @item.OriginalValue
            </td>
            <td>
                @item.TranslatedValue
            </td>
            <td>
                @if (@item.PartOfSpeech == "1")
                {
                    <p>Noun</p>
                }
                else if (@item.PartOfSpeech == "2")
                {
                    <p>Pronoun</p>
                }
                else if (@item.PartOfSpeech == "3")
                {
                    <p>Verb</p>
                }
                else if (@item.PartOfSpeech == "4")
                {
                    <p>Adjective</p>
                }
                else if (@item.PartOfSpeech == "5")
                {
                    <p>Adverb</p>
                }
                else if (@item.PartOfSpeech == "6")
                {
                    <p>Preposotion</p>
                }
                else if (@item.PartOfSpeech == "7")
                {
                    <p>Conjunction</p>
                }
                else
                {
                    <p>INTERJECTION</p>
                }
            </td>
            <td>
                @(item.PartOfSpeechDetails == null?"-":@item.PartOfSpeechDetails)

            </td>
            <td>
                @(item.Description == null?"-":@item.Description)
            </td>
            <td>
                <button class="btn btn-warning" ><a class="text-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> </button>
            </td>
            <td>
                <button class="btn btn-danger"><a class="text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a> </button>
            </td>
        </tr>
}
    </tbody>
</table>
